<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{with .CurPost}}
    <title>{{.Title}}</title>
    <meta name="description" content="{{.Abstract}}">
    <meta name="citation_authors" content="{{.Author}}">
    {{else}}
    <title>We Are Brog</title>
    {{end}}
    {{template "style" .}}
</head>
<body>
	<div class="content-body">
		<div class="container main">
			<header class="page-header">{{template "header" .}}</header>
			<div id="content">{{template "content" .}}</div>
		</div>
	</div>
	
	<footer>
		<div class="container">
			{{template "footer" .}}
		</div>
	</footer>
{{template "javascript" .}}
</body>
</html>
