{{define "footer"}}
<div class="footer text-right">
	<p>© 2014</p>
	<p class="text-muted">
		Using <a href="https://github.com/uiri/brog">Brog</a> engine from <a href="https://github.com/aybabtme">Aybabtme</a> and <a href="https://github.com/uiri">Uiri</a>
		<br>
		<a href="https://github.com/t0xicCode/brog-bootstrap">Bootstrap theme remix</a> by <a href="https://github.com/t0xicCode/">T0xicCode</a>
	</p>
</div>
{{end}}
